div.connections.create {
  .card .card-pf {
    height: 210px;
    max-height: 240px;
    overflow: hidden;

    .dropdown-toggle {
      padding: 4px 10px;
    }
  }

  /*
  .toolbar {
    h3, h4, h5 {font-weight: 600;}

    .breadcrumbs {}

    .details {
      background-color: #FFFFFF;
      border-bottom: 1px solid #d1d1d1;
    }

    .progress-wizard {
      text-align: center;
    }

    .type {}
  }
  */
}
