div.connections.create {
  .card .card-pf {
    height: 210px;
    max-height: 240px;
    overflow: hidden;

    .dropdown-toggle {
      padding: 4px 10px;
    }
  }

  .wizard-pf-body {
    padding: 0;
    background: #fff;
    margin: auto -20px;
    border-bottom: solid 1px #d1d1d1;
  }
}
