<div class='connections create'>
  
  <!-- Toolbar -->
  <div class='toolbar'>
    
    <!-- Toolbar: Breadcrumbs -->
    <div class='row toolbar-pf breadcrumbs'>
      <div class='col-sm-12'>
        <ol class='breadcrumb'>
          <li>
            <a [routerLink]=" ['/home'] ">Home</a>
          </li>
          <li>
            <a [routerLink]=" ['/connections'] ">Connections</a>
          </li>
          <li class='active'><strong>Create Connection</strong></li>
        </ol>
      </div>
    </div>
  </div>
  
  <div class='wizard-pf'>
    
    <div class='wizard-pf-body clearfix'>
      
      <!-- Wizard Progress Bar-->
      <div class='wizard-pf-steps'><!-- hidden -->
        <ul class='wizard-pf-steps-indicator'>
          <li class='wizard-pf-step'
              [class.active]='currentStep === 1'
              data-tabgroup='1'>
            <a>
              <span class='wizard-pf-step-number'>1</span>
              <span class='wizard-pf-step-title'>Define Connection Basics</span>
            </a>
          </li>
          <li class='wizard-pf-step'
              [class.active]='currentStep === 2'
              data-tabgroup='2'>
            <a>
              <span class='wizard-pf-step-number'>2</span>
              <span class='wizard-pf-step-title'>Select and Configure Fields</span>
            </a>
          </li>
          <li class='wizard-pf-step'
              [class.active]='currentStep === 3'
              data-tabgroup='3'>
            <a>
              <span class='wizard-pf-step-number'>3</span>
              <span class='wizard-pf-step-title'>Review</span>
            </a>
          </li>
        </ul>
      </div>
      
      <!-- Wizard Content -->
      
      <div class='wizard-pf-main row'>
        <!-- Loading--
        <div class="wizard-pf-loading blank-slate-pf">
            <div class="spinner spinner-lg blank-slate-pf-icon"></div>
            <h3 class="blank-slate-pf-main-action">Loading Wizard</h3>
            <p class="blank-slate-pf-secondary-action">Lorem ipsum dolor sit amet, porta at
                suspendisse ac, ut wisi vivamus, lorem sociosqu eget nunc amet. </p>
        </div>
        -->
        
        
        <!-- Step 1 -->
        <div class='row'>
          <div class='wizard-pf-contents col-xs-6'
               *ngIf='currentStep === 1'>
            <form class='form-horizontal'>
              <!-- replacing id with data-id to pass build errors -->
              <div class='form-group required'>
                <label class='col-sm-4 control-label'>Connection Name&nbsp;
                  <span style='color: red'>*
                            </span>
                </label>
                <div class='col-sm-8'>
                  <input type='text'
                         name='nameInput'
                         data-id='nameInput'
                         placeholder='{{ name }}'
                         [(ngModel)]='name'
                         class='form-control'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label'>Description&nbsp;
                  <span style='color: red'>*</span>
                </label>
                <div class='col-sm-8'>
                  <textarea data-id='descriptionInput'
                            name='descriptionInput'
                            class='form-control'
                            [(ngModel)]='description'
                            rows='2'></textarea>
                </div>
              </div>
              <div class='form-group required'>
                <label class='col-sm-4 control-label'>Tag(s)</label>
                <div class='col-sm-8'>
                  <input type='text'
                         name='tagsInput'
                         data-id='tagsInput'
                         [(ngModel)]='tags'
                         class='form-control'>
                </div>
              </div>
            </form>
          </div>
          
          <!-- Step 2 -->
          <div class='wizard-pf-contents'
               *ngIf='currentStep === 2'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='row'>
                  <div class='col-md-7'>
                    <h4>Select {{selectedComponent.name}} Fields</h4>
                  </div>
                  <div class='col-md-5'>
                    <input type='text'
                           class='form-control'
                           placeholder='Find by name...'
                           [(ngModel)]='fieldListFilter'>
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-12'>
                    <ul class='list-group'>
                      <li class='list-group-item'
                          *ngFor='let field of availableFields | fieldFilter : fieldListFilter'
                          (click)='addField(field)'>
                        {{field.title}}
                        <span *ngIf='fieldAvailable(field)'
                              class='action-element pull-right'>
                          <i class='fa fa-plus-circle fa-lg'></i>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class='col-md-8'>
                <div class='row'>
                  <div class='col-md-10' *ngIf='enabledFields'>
                    <h4>Set up connection form defaults
                      <span class='badge badge-default'>{{enabledFields.length}}</span>
                    </h4>
                  </div>
                  <div class='col-md-2'>
                    <button class='btn btn-primary validate'
                            [disabled]='!enabledFields.length'
                            (click)='validateInputs()'>Validate
                    </button>
                  </div>
                </div>
                <div *ngIf='showValidationMessage'>
                  <div class='alert alert-success'>
                    <button type='button'
                            class='close'
                            (click)='showValidationMessage = false'>
                      <span class='pficon pficon-close'></span>
                    </button>
                    <span class='pficon pficon-ok'></span>
                    <strong>Success!</strong> The provided inputs validate successfully.
                  </div>
                </div>
                <div *ngIf='!enabledFields.length'
                     class='blank-slate-pf'>
                  <div class='blank-slate-pf-icon'>
                    <span class='fa fa-reply'></span>
                  </div>
                  <p>Add fields from the left that users will fill out when using this connection</p>
                </div>
                <div *ngIf='enableForm()'>
                  <form #f='ngForm'>
                    <div class='row'
                         *ngFor='let field of enabledFields; let i = index'
                         [attr.data-index]='i'>
                      <div class='col-md-10'>
                        <form-property-field [form]='f.form'
                                             [field]='field'
                                             [entity]='defaults'></form-property-field>
                      </div>
                      <div class='col-md-2'
                           style='whitespace: nowrap'>
                        <i [style.visible]='i !== 0'
                           class='action-element fa fa-arrow-up fa-lg'
                           (click)='moveUp(field)'></i> <i *ngIf='i !== enabledFields.length - 1'
                                                           class='action-element fa fa-arrow-down fa-lg'
                                                           (click)='moveDown(field)'></i>
                        <i class='action-element fa fa-trash fa-lg'
                           (click)='removeField(field)'></i>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Step 3 -->
          <div class='row row-cards-pf'
               *ngIf='currentStep === 3'>
            <div class='row'>
              <div class='col-md-3'>
                <div class='card'>
                  <div class='card-pf card-pf-view card-pf-view-xs'>
                    <div class='card-pf-body'>
                      <div class='card-pf-heading'>
                        <h2 class='card-pf-title'>
                          <span class='fa {{selectedComponent.icon}}'></span>
                        </h2>
                        <div class='card-title'>{{name}}</div>
                      </div>
                      <p>{{description}}</p>
                      <p>
                        <span *ngFor='let tag of getTags()'>
                          <span class='label label-primary'>{{tag}}</span>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              
              </div>
              <div class='col-md-9'>
                <h3>Connection Fields</h3>
                <form #f='ngForm'>
                  <div class='row'
                       *ngFor='let field of enabledFields'>
                    <form-property-field [form]='f.form'
                                         [field]='field'
                                         [entity]='defaults'></form-property-field>
                  </div>
                </form>
  
                <div class="alert alert-success alert-dismissable"
                     *ngIf='submitted === true'>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                  </button>
                  <span class="pficon pficon-ok"></span>
                  <strong>Success!</strong> Your connection has been <a [routerLink]="['/connections']"
                                                                        class="alert-link">created</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Toolbar: Select Connection Type -->
    <div class='row toolbar-pf type'
         *ngIf='currentStep === 1'>
      <div class='col-xs-12'>
        <form class='toolbar-pf-actions'>
          <div class='form-group toolbar-pf-filter'>
            <div>
              <label class='sr-only'
                     for='filter'>Select Connection Type&nbsp;</label>
              <input type='text'
                     class='form-control'
                     id='filter'
                     [(ngModel)]='listFilter'
                     name='name'
                     placeholder='Filter By Name...'>
            </div>
          </div>
          <div class='form-group'>
            <div class='dropdown btn-group'>
              <button type='button'
                      class='btn btn-default dropdown-toggle'
                      data-toggle='dropdown'
                      aria-haspopup='true'
                      aria-expanded='false'>Name
                <span class='caret'></span>
              </button>
              <ul class='dropdown-menu'>
                <li>
                  <a>Name</a>
                </li>
                <li>
                  <a>Type</a>
                </li>
              </ul>
            </div>
            <button class='btn btn-link'
                    type='button'>
              <span class='fa fa-sort-alpha-asc'></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- List of Components -->
  <div *ngIf='currentStep === 1'>
    <div class='row row-cards-pf components'>
      <div class='col-xs-12 col-sm-3 col-md-2 card'
           *ngFor='let component of components | componentFilter: listFilter'>
        <div class='card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select'
             [class.active]='component === selectedComponent'
             (click)='selectComponent(component)'>
          <div class='card-pf-body'>
            <div class='card-pf-heading'>
              <h2 class='card-pf-title'>
                <span class='fa {{ component.icon }}'></span>
              </h2>
              <div class='card-title'>{{ component.name | truncate:'14':'..' }}</div>
            </div>
            <p>{{ component.description | truncate:limit:trail }}</p>
          </div>
        </div>
      </div>
      
      <div class="row row-cards-pf noComponents"
           *ngIf="!components">
          <p>There are no Components available to create a Connection.</p>
      </div>
      
      <div class='error'
           *ngIf='errorMessage'>{{errorMessage}}
      </div>
    </div>
  </div>
  
  <script>
    (function($) {
      $(document).ready(function() {
        // Upon clicking the find button, show the find dropdown content
        $(".btn-find").click(function() {
          $(".find-pf-dropdown-container").toggle();
        });
        // Upon clicking the find close button, hide the find dropdown content
        $(".btn-find-close").click(function() {
          $(".find-pf-dropdown-container").hide();
        });

      });
    })(jQuery);
  </script>
  
  
  <!-- Wizard Footer -->
  <div class='wizard-pf-footer'>
    <button type='button'
            (click)='cancelCreate(currentStep, $event)'
            class='btn btn-default btn-cancel wizard-pf-cancel wizard-pf-dismiss'>Cancel
    </button>
    <button type='button'
            class='btn btn-default wizard-pf-back'
            (click)='goBack(currentStep, $event)'>
      <span class='i fa fa-angle-left'></span>
      Back
    </button>
    <button type='button'
            *ngIf='currentStep !== 3'
            class='btn btn-primary wizard-pf-next'
            [disabled]='!selectedComponent'
            (click)='nextStep(currentStep, $event)'>
      Next
      <span class='i fa fa-angle-right'></span>
    </button>
    <button type='button'
            *ngIf='currentStep === 3'
            (click)='createConnection()'
            class='btn btn-primary wizard-pf-finish'>
      Create
    </button>
  </div>

</div>
