<div class="connections create">

    <div class="toolbar">

        <!-- Toolbar: Breadcrumbs -->
        <div class="row toolbar-pf breadcrumbs">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a [routerLink]=" ['/home'] ">Home</a></li>
                    <li><a [routerLink]=" ['/connections'] ">Connections</a></li>
                    <li class="active"><strong>Create Connection</strong></li>
                </ol>
            </div><!-- /col -->
        </div><!-- /row -->

        <div class="row">
          <div *ngIf="command" class="col-sm-12">
            <h4>{{command.info.name}}</h4>
            <form *ngIf="command.properties" (ngSubmit)="onSubmit(entity)" #f="ngForm">
              <div *ngFor="let field of getFields(command)">
                <pre>{{field | json}}</pre>
                <form-property-field [form]="f.form" [field]="field" [entity]="entity"></form-property-field>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Submit</button>
            </form>
          </div>
        </div>

        <!-- Toolbar: Progress -->
        <div class="row toolbar-pf progress-wizard">
            <div class="col-sm-12">
                <div class="col-xs-4">
                    <h3>Define Connection Basics</h3>
                    <h3>1</h3>
                </div>
                <div class="col-xs-4">
                    <h3>Select and Configure Fields</h3>
                    <h3>2</h3>
                </div>
                <div class="col-xs-4">
                    <h3>Review</h3>
                    <h3>3</h3>
                </div>
            </div><!-- /col -->
        </div><!-- /row -->

        <!-- Toolbar: Add Connection Details-->
        <div class="row details">
            <div class="col-sm-12">
                <h4>Add Connection Details</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="exampleInput">Connection Name</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   id="exampleInput"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="description">Description</label>
                        <div class="col-sm-10">
                            <textarea id="description"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label"
                               for="exampleInputError">Tags</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   id="exampleInputError"
                                   class="form-control">
                        </div>
                    </div>
                </form>
            </div><!-- /col -->
        </div><!-- /row -->

        <!-- Toolbar: Select Connection Type -->
        <div class="row toolbar-pf type">
            <div class="col-xs-12">
                <form class="toolbar-pf-actions">
                    <div class="form-group toolbar-pf-filter">
                        <div>
                            <label class="sr-only"
                                   for="filter">Select Connection Type&nbsp;</label>
                            <input type="text"
                                   class="form-control"
                                   id="filter"
                                   name="name"
                                   placeholder="Filter By Name...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dropdown btn-group">
                            <button type="button"
                                    class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">Name <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a>Name</a></li>
                                <li><a>Type</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-link" type="button">
                            <span class="fa fa-sort-alpha-asc"></span>
                        </button>
                    </div>
                </form>
            </div><!-- /col -->
        </div><!-- /row -->

    </div>

<!--
    <div>
        <div class="row row-cards-pf">
            <div class="col-xs-12 col-sm-3 col-md-2 card"
                 *ngFor="let connection of connections">
                <div class="card-pf card-pf-view card-pf-view-xs">
                    <div class="card-pf-body">
                        <div class="card-pf-heading-kebab">
                            <div class="dropdown pull-right dropdown-kebab-pf card-pf-time-frame-filter">
                                <button type="button"
                                        class="btn btn-link dropdown-toggle"
                                        data-toggle="dropdown">
                                    <span class="fa fa-ellipsis-v"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right"
                                    role="menu">
                                    <li><a [routerLink]=" ['create'] ">Edit</a></li>
                                    <li><a>Duplicate</a></li>
                                    <li><a>Delete</a></li>
                                </ul>
                            </div>
                            <h2 class="card-pf-title">
                                <span class="fa {{ connection.icon }}"></span>
                            </h2>
                            <div class="card-title">{{ connection.name }}</div>
                        </div>
                        <p>{{ connection.description }}</p>
                    </div>
                </div>
            </div>

            <div class="error"
                 *ngIf="errorMessage">{{errorMessage}}
            </div>
        </div>
    </div>
    -->

    <script>
        (function($) {
            $(document).ready(function() {
                // Upon clicking the find button, show the find dropdown content
                $(".btn-find").click(function() {
                    $(".find-pf-dropdown-container").toggle();
                });
                // Upon clicking the find close button, hide the find dropdown content
                $(".btn-find-close").click(function() {
                    $(".find-pf-dropdown-container").hide();
                });

            });
        })(jQuery);
    </script>
</div>
