// CSS common across all views

$footerHeight: 60px;


html {
  font-size: 100%;
  min-height: 95%;
  position: relative;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F5F5F5;
  color: #333333;
  font-family: "Lato", "Helvetica Neue", "Open Sans", "Helvetica", "Arial", "Verdana", "sans-serif";
  margin-bottom: 25px; // Ideally should be $footerHeight, but was too much
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

h2 {
  font-size: 52px;
  line-height: 1.07885;
  letter-spacing: -0.016em;
  font-weight: 200;
}

footer {
  //background-color: #000000;
  bottom: 0;
  font-size: 12px;
  height: $footerHeight;
  left: 0;
  position: absolute;
  width: 100%;

  .col-md-12 {
    padding: 15px;
  }
}

.font-thin {
  font-weight: 300 !important;
}

.font-ultralight {
  font-weight: 100 !important;
}

