# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Default to linux endings
* text eol=lf

# OS specific files
###################

*.sh eol=lf
*.bat eol=crlf

# Binary files
##############
# Denote all files that are truly binary and should not be modified.

# Image files
*.png binary
*.jpg binary
*.gif binary
*.bmp binary
*.ico binary

# Audio files
*.wav binary
*.mp3 binary
*.ogg binary

# Other binary files
*.pdf binary
*.xls binary
*.xlsx binary
