<div class='dashboard'>
  <div class='row empty-state'>
    <h1>No Integrations Available</h1>
    <div class='row description'>
      <p>Integration helps you connect two or multiple web services. To create an integration,
        choose one of the templates below and add some contextual details.</p>
      <p>Alternatively, you can create an integration from scratch.</p>
    </div>
    <div class='row'>
      <a [routerLink]=" ['/integrations/create'] "
         class='btn btn-primary'>Create Integration
      </a>
    </div>
    <div class='row'>
      <a [routerLink]=" ['/connections/create'] "
         class='btn btn-default'>Create Connection
      </a>
      <a [routerLink]=" ['/templates/create'] "
         class='btn btn-default'>Create Template
      </a>
    </div>
  </div>
  <div class='row row-cards-pf'>
    <div class='row col-xs-12'>
      <h2>Popular Templates</h2>
      
      <div class='container-cards-pf'>
        <div class='row row-cards-pf'>
          
          <!-- Template Card -->
          
          <div class='col-xs-12 col-sm-3 col-md-2 card'
               *ngFor='let template of templates | templateFilter: listFilter'>
            <div class='card-pf card-pf-view card-pf-view-xs'>
              <div class='card-pf-body'>
                
                <!-- Card Dropdown -->
                
                <div class='card-pf-heading-kebab'>
                  <div class='dropdown pull-right dropdown-kebab-pf card-pf-time-frame-filter'>
                    <button type='button'
                            class='btn btn-link dropdown-toggle'
                            data-toggle='dropdown'>
                      <span class='fa fa-ellipsis-v'></span>
                    </button>
                    <ul class='dropdown-menu dropdown-menu-right'
                        role='menu'>
                      <li>
                        <a>View</a>
                      </li>
                      <li>
                        <a>Edit</a>
                      </li>
                      <li>
                        <a>Duplicate</a>
                      </li>
                      <li>
                        <a>Delete</a>
                      </li>
                    </ul>
                  </div>
                  
                  <!-- Card Title & Icon -->
                  
                  <h2 class='card-pf-title'>
                    <span class='fa {{ template.icon }}'></span>
                  </h2>
                  <div class='card-title'>{{ template.name }}
                  </div>
                </div>
                
                <!-- Card Description -->
                
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
              </div>
              
              <div class='card-pf-footer'>
                <button type='button'
                        class='btn btn-default'>
                  Use This Template
                </button>
              </div>
            </div>
          </div>
          
          <div class='error'
               *ngIf='errorMessage'>{{errorMessage}}
          </div>
        </div>
      </div>
      
      <script>
        (function($) {
          $(document).ready(function() {
            // Upon clicking the find button, show the find dropdown content
            $(".btn-find").click(function() {
              $(".find-pf-dropdown-container").toggle();
            });
            // Upon clicking the find close button, hide the find dropdown content
            $(".btn-find-close").click(function() {
              $(".find-pf-dropdown-container").hide();
            });

          });
        })(jQuery);
      </script>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

    // Initialize the vertical navigation
    $().setupVerticalNavigation(true);
  });
</script>

