div.dashboard {
  //background-color: #000000;
  .empty-state {
    text-align: center;
    margin: 15px;

    .btn {
      margin: 10px 5px;
    }

    .description {
      margin: 25px auto;
      max-width: 40%;
    }
  }
}
