<header>

    <!-- Navbar: Logged Out -->
    <nav class="navbar navbar-fixed-top navbar-light loggedOut"
         *ngIf="!loggedIn">
        <!-- Logo -->
        <a [routerLink]=" ['/'] ">
            <img src="{{ logoWhiteBg }}">
        </a>
    </nav>

    <!-- Navbar: Logged In --
    <nav class="navbar navbar-default navbar-pf"
         role="navigation"
         *ngIf="loggedIn">

        <!-- Logo --
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               [routerLink]=" ['/'] ">
                <img src="{{ logoDarkBg }}" alt="iPaaS" />
            </a>
        </div>

        <!-- Right-Hand Dropdown Menu --
        <div class="collapse navbar-collapse navbar-collapse-1">
            <ul class="nav navbar-nav navbar-utility">
                <li>
                    <a href="#">Status</a>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        <span class="pficon pficon-user"></span>
                        Brian Johnson <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <a href="#">Another link</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">More options</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Another link</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- Primary Navigation --
            <ul class="nav navbar-nav navbar-primary">
                <li router-active>
                    <a [routerLink]=" ['/'] ">Home</a>
                </li>
                <li router-active>
                    <a [routerLink]=" ['dashboard'] ">Dashboard</a>
                </li>
                <li router-active>
                    <a [routerLink]=" ['detail'] ">Detail</a>
                </li>
                <li router-active>
                    <a [routerLink]=" ['about'] ">About</a>
                </li>
            </ul>
        </div>
    </nav>
    -->


    <nav class="navbar navbar-pf-vertical">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img class="navbar-brand-icon"
                     src="/assets/images/logo-alt.svg"
                     alt=""/>
                <img class="navbar-brand-name"
                     src="/assets/images/brand-alt.svg"
                     alt="PatternFly Enterprise Application" />
            </a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"
                       target="_blank"
                       class="nav-item-iconic nav-item-iconic-new-window">
                        <span title="Launch"
                              class="fa fa-external-link"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-iconic">
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic"
                       id="notifications"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="true">
                        <span title="Notifications"
                              class="fa pficon-flag"></span>
                        <span class="badge">2</span>
                    </a>
                    <div class="dropdown-menu infotip bottom-right">
                        <div class="arrow"></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="i pficon pficon-info"></span> Modified Datasources ExampleDS
                            </li>
                            <li class="list-group-item">
                                <span class="i pficon pficon-info"></span> Error: System Failure
                            </li>
                        </ul>
                        <div class="footer">
                            <a>Clear Messages</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic"
                       id="dropdownMenu1"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="true">
                        <span title="Help"
                              class="fa pficon-help"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="dropdownMenu1">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic"
                       id="dropdownMenu2"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="true">
                        <span title="Username"
                              class="fa pficon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="dropdownMenu2">
                        <li><a href="#">Preferences</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </nav> <!--/.navbar-->
</header>


<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus hide-nav-pf">
    <ul class="list-group">
        <li class="list-group-item">
            <a>
                <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
                <span class="list-group-item-value">Dashboard</span>
            </a>
        </li>
        <li class="list-group-item">
            <a>
                <span class="fa fa-shield" data-toggle="tooltip" title="Dolor"></span>
                <span class="list-group-item-value">Dolor</span>
            </a>
        </li>
        <li class="list-group-item active secondary-nav-item-pf" data-target="#ipsum-secondary">
            <a>
                <span class="fa fa-space-shuttle" data-toggle="tooltip" title="Ipsum"></span>
                <span class="list-group-item-value">Ipsum</span>
            </a>

            <div id="-secondary" class="nav-pf-secondary-nav">
                <div class="nav-item-pf-header">
                    <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                    <span>Ipsum</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item active " data-target="#ipsum-intellegam-tertiary">
                        <a>
                            <span class="list-group-item-value">Intellegam</span>
                        </a>
                    </li>
                    <li class="list-group-item " data-target="#ipsum-copiosae-tertiary">
                        <a>
                            <span class="list-group-item-value">Copiosae</span>
                        </a>
                    </li>
                    <li class="list-group-item " data-target="#ipsum-patrioque-tertiary">
                        <a>
                            <span class="list-group-item-value">Patrioque</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="list-group-item secondary-nav-item-pf" data-target="#amet-secondary">
            <a>
                <span class="fa fa-paper-plane" data-toggle="tooltip" title="Amet"></span>
                <span class="list-group-item-value">Amet</span>
            </a>

            <div id="amet-secondary" class="nav-pf-secondary-nav">
                <div class="nav-item-pf-header">
                    <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                    <span>Amet</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item " data-target="#amet-detracto-tertiary">
                        <a>
                            <span class="list-group-item-value">Detracto</span>
                        </a>
                    </li>
                    <li class="list-group-item " data-target="#amet-mediocrem-tertiary">
                        <a>
                            <span class="list-group-item-value">Mediocrem</span>
                        </a>
                    </li>
                    <li class="list-group-item " data-target="#amet-corrumpit-tertiary">
                        <a>
                            <span class="list-group-item-value">Corrumpit</span>
                        </a>
                    </li>
                </ul>
            </div>


        </li>
        <li class="list-group-item">
            <a>
                <span class="fa fa-graduation-cap" data-toggle="tooltip" title="Adipscing"></span>
                <span class="list-group-item-value">Adipscing</span>
            </a>
        </li>
        <li class="list-group-item">
            <a>
                <span class="fa fa-gamepad" data-toggle="tooltip" title="Lorem"></span>
                <span class="list-group-item-value">Lorem</span>
            </a>
        </li>
    </ul>
</div>

<main class="container-fluid">
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class="text-muted">Hawtio iPaaS © 2016</p>
            </div>
        </div>
    </div>
</footer>

