<div class="spinner spinner-lg" *ngIf="!ready"></div>
<div *ngIf="ready">
  <h1>{{command.info.name}}</h1>
  <div *ngIf="error">
    <pre>{{error | json}}</pre>
  </div>
  <div *ngIf="formErrors">
    <ul>
      <li *ngFor="let error of formErrors">
        {{error.description}}
      </li>
    </ul>
  </div>
  <div *ngIf="result">
    <pre>{{result | json}}</pre>
  </div>
  <form *ngIf="command.properties" (ngSubmit)="onSubmit(entity)" #f="ngForm">
    <div *ngFor="let field of getFields(command)">
			<form-property-field [form]="f.form" [field]="field" [entity]="entity"></form-property-field>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.form.valid">Submit</button>
  </form>
</div>
<p></p>
<div *ngIf="inputList.length">
  <h6>Input List</h6>
  <pre>{{inputList | json}}</pre>
</div>
<div *ngIf="response">
  <h6>Last Command Response</h6>
  <pre>{{response | json}}</pre>
</div>
<div *ngIf="command">
  <h6>Command Input</h6>
  <pre>{{command | json}}</pre>
</div>
