<div class="row">
  <div class="col-md-12">
    <div *ngIf="!teams && !errorMessage">
      Please wait...
    </div>
    <div *ngIf="errorMessage">
      <pre>{{errorMessage | json}}</pre>
    </div>
    <h2>Teams</h2>
    <ul *ngIf="teams">
      <li *ngFor="let team of teams">
        <a [routerLink] = "[team.metadata.name]">{{team.metadata.name}}</a>
        &nbsp;|&nbsp;
        <a [routerLink] = "['../teamCommands', team.metadata.name]">Forge Commands</a>
      </li>
    </ul>
  </div>
</div>
